@import url('http://fonts.cdnfonts.com/css/phitradesign-ink');
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 scroll-behavior: smooth;
}
body{font-family:'phitradesign INK' sans-serif;
}
.box{ 
    color: rgb(97, 8, 97);
    font-size: 20px;
    background-color: rgb(235, 181, 230);
    margin-top: 10px;margin-bottom: 10px;border-style: solid;
    padding: 5px;
    }
.portada{
    position: sticky;
    width: 100%;
    height: 100%;
    height: 600px;
    color:rgb(235, 181, 230);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    }
.portada video{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: contain;
    object-position: center;
}
h1
    {font-size: 5vw;
    text-align: center;}

p
    {font-size: 35px;
    text-align: center;}
.p2
    {
    text-align:start;
    margin-bottom:100px;
    background-color: rgb(245, 120, 245);}
.itemult  {
        text-align:start}

.img_center
    {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto; 
    width: 70%;
    overflow: hidden;
    }
.titulos
    {
    color: darkmagenta;
    font-size: 50px; 
     background-color: thistle;
    }
nav 
    { 
    text-align: center;
    }
nav ul li 
    { 
    list-style:none; 
    display: inline;
    }
nav ul li a 
    {
    text-decoration:none; 
    padding:8px 15px;
    text-align: center;
    font-size:30px;
    font-weight: 300;
    }
.A
    {
    background-color: rgb(235, 188, 235);
    padding: 15px 15px;
    border-style:solid turquoise;
    border-radius: 10px;
    }

h2  
    {
    text-align: center;
    }
h3  
    {
    font-weight: 800;
    }

.section_css 
    {
    float: left;
    width: 50%;
    border-style: 10px sold rgb(0, 247, 255);
    padding: 25px;
    background-color: rgb(245, 120, 245);
    margin-top: 8px;
    margin-bottom: 40px;
    }
.Introducción 
    {
    text-align:center;
    font-size:30px;
    font-weight: 600;
    color: rgb(97, 8, 97);
    margin-top: 40px;
    margin-bottom: 40px;
    background-color:thistle ;
    }
.imagen_principal 
    {
    display: flex;
    width: 300px;
    height: 300px; 
    border: solid  turquoise; 
    margin: 3px;
    align-items: center;
    }
.imagen_icono 
    {
     display: flex;
    margin-left: auto;
    margin-right: auto;  
    width: 30px;
    height: 30px; 
    border: solid  turquoise;
    }
.Gale
    {
    width: 800px;
    height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20 px;
    margin-bottom: 20px;
    box-shadow:-1px 3px 7px 6px rgba(221,150,227,0.72) ;
    }
    .espacio { width: 4rem;
    margin-top: 10px;
margin-bottom: 10px;}
.boton
    {
    font-size: larger;
    background-color:  rgb(50, 228, 210);
    display: flex;
    margin-left: auto;
    margin-right: auto;  
    height: 50%;
    width: 15%; 
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    border-radius: 10px;
    }
    
.flex-container{ 
    display: flex;
    justify-content: center;
     flex-direction: column; 
    padding: 10px;
    align-items: center;
    width: 100%;
     background-image: linear-gradient(129deg, rgba(110, 147, 161, 0.04) 0%, rgba(110, 147, 161, 0.04) 50%,rgba(31, 225, 91, 0.04) 50%, rgba(31, 225, 91, 0.04) 100%),linear-gradient(383deg, rgba(201, 121, 180, 0.04) 0%, rgba(201, 121, 180, 0.04) 50%,rgba(1, 113, 56, 0.04) 50%, rgba(1, 113, 56, 0.04) 100%),linear-gradient(268deg, rgba(211, 211, 180, 0.04) 0%, rgba(211, 211, 180, 0.04) 50%,rgba(13, 109, 126, 0.04) 50%, rgba(13, 109, 126, 0.04) 100%),linear-gradient(372deg, rgba(52, 121, 135, 0.04) 0%, rgba(52, 121, 135, 0.04) 50%,rgba(18, 246, 96, 0.04) 50%, rgba(18, 246, 96, 0.04) 100%),linear-gradient(334deg, rgba(127, 18, 115, 0.04) 0%, rgba(127, 18, 115, 0.04) 50%,rgba(70, 203, 229, 0.04) 50%, rgba(70, 203, 229, 0.04) 100%),linear-gradient(248deg, rgba(131, 205, 141, 0.04) 0%, rgba(131, 205, 141, 0.04) 50%,rgba(37, 31, 18, 0.04) 50%, rgba(37, 31, 18, 0.04) 100%),linear-gradient(266deg, rgba(13, 183, 43, 0.04) 0%, rgba(13, 183, 43, 0.04) 50%,rgba(103, 42, 135, 0.04) 50%, rgba(103, 42, 135, 0.04) 100%),linear-gradient(277deg, rgba(85, 200, 233, 0.04) 0%, rgba(85, 200, 233, 0.04) 50%,rgba(215, 24, 12, 0.04) 50%, rgba(215, 24, 12, 0.04) 100%),linear-gradient(271deg, rgba(95, 197, 25, 0.04) 0%, rgba(95, 197, 25, 0.04) 50%,rgba(30, 61, 7, 0.04) 50%, rgba(30, 61, 7, 0.04) 100%),linear-gradient(223deg, rgba(132, 241, 60, 0.04) 0%, rgba(132, 241, 60, 0.04) 50%,rgba(52, 203, 19, 0.04) 50%, rgba(52, 203, 19, 0.04) 100%),linear-gradient(183deg, rgba(67, 161, 9, 0.04) 0%, rgba(67, 161, 9, 0.04) 50%,rgba(27, 242, 201, 0.04) 50%, rgba(27, 242, 201, 0.04) 100%),linear-gradient(387deg, rgba(33, 36, 218, 0.04) 0%, rgba(33, 36, 218, 0.04) 50%,rgba(248, 232, 35, 0.04) 50%, rgba(248, 232, 35, 0.04) 100%),linear-gradient(115deg, rgba(236, 115, 112, 0.04) 0%, rgba(236, 115, 112, 0.04) 50%,rgba(33, 180, 6, 0.04) 50%, rgba(33, 180, 6, 0.04) 100%),linear-gradient(151deg, rgba(11, 133, 241, 0.04) 0%, rgba(11, 133, 241, 0.04) 50%,rgba(197, 131, 207, 0.04) 50%, rgba(197, 131, 207, 0.04) 100%),linear-gradient(172deg, rgb(50, 233, 241),rgb(7, 146, 201));
}
.fo1
    {
    background-color: thistle;
    border-radius: 30px;
    padding-inline: 20px;
    color:rgb(97, 8, 97); 
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.video 
    {
    width: 450px;
    height: 450px ;
    box-shadow:-1px 3px 7px 6px rgba(221,150,227,0.72);
    }
.ubicacion
    {
    width:450px; 
    height:450px;
    box-shadow:-1px 3px 7px 6px rgba(221,150,227,0.72);
    }





