@import url('http://fonts.cdnfonts.com/css/phitradesign-ink');
*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 scroll-behavior: smooth;
}
body{font-family:'phitradesign INK' sans-serif;background-image: radial-gradient(circle at 32% 84%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 87% 12%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 22% 99%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 80% 86%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 3%,transparent 3%, transparent 100%),radial-gradient(circle at 47% 59%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 79% 100%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 71% 67%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 36% 12%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 45% 99%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 76% 89%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 7%,transparent 7%, transparent 100%),radial-gradient(circle at 82% 12%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 26% 60%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 55% 41%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 58% 10%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 7% 21%, rgba(255,255,255,0.01) 0%, rgba(255,255,255,0.01) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 12% 81%, rgba(255,255,255,0.02) 0%, rgba(255,255,255,0.02) 5%,transparent 5%, transparent 100%),radial-gradient(circle at 25% 65%, rgba(255,255,255,0.03) 0%, rgba(255,255,255,0.03) 5%,transparent 5%, transparent 100%),linear-gradient(0deg, rgb(37, 75, 149),rgb(49, 224, 252));
    }
.box{ 
     color: rgb(97, 8, 97);
    font-size: 20px;
    background-color: rgb(235, 181, 230);
    margin-top: 10px;
    margin-bottom: 10px;border-style: solid;
    padding: 5px;
    }
.container{ 
       color: rgb(97, 8, 97);
       font-size: 20px;
       background-color: rgb(235, 181, 230);
       border-style: solid;
       padding: 10px; 
       display: flex;
       flex-direction: wrap-column;
       }   
.portada{
    position: sticky;
    width: 100%;
    height: 100%;
    height: 100vh; 
    color:rgb(235, 181, 230);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    }
.portada video{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    object-fit: contain;
    object-position: center;
              }
h1{
    font-size: 6vw;
    text-align: center;
    margin-bottom: 30px;
    text-shadow: 2px 4px 2px black;
 }
p{
    font-size: 45px;
    text-align: center;
    text-shadow: 2px 3px 2px black;
 }
h4{
    text-align:start;
    margin-bottom:15px;
   }
.itemult{
        text-align:start;
        }
.img_center{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 50px;
    overflow: hidden;
           }
.titulos{
    color: darkmagenta;
    font-size: 50px; 
     background-color: thistle;
        }
nav { 
    text-align: center;
    } 
     nav ul li 
    { 
    list-style:none; 
    display: inline-block;
    }
 nav ul li a 
    {
    text-decoration:none; 
    padding:8px 15px;
    text-align: center;
    font-size:30px;
    font-weight: 300; 
    }
.A
    {
    background-color: rgb(235, 188, 235);
    padding: 15px 15px;
    border-style:solid #40e0d0;
    border-radius: 10px;
    margin-left: 10px;
    }
h2  
    {
    text-align: center;
    }    
h3  
    {
    font-weight: 800;
    }
.section_css 
    {
     width: 100%;     
     height: 100vh; 
    }
.section_css1{
    background-image: linear-gradient(298deg, rgba(178, 133, 55, 0.2),rgba(244, 96, 92, 0.2)),linear-gradient(45deg, rgba(237,190,121, 0.14),rgb(250,242,227),rgb(238,219,146),rgb(255,245,190),rgb(252,238,186),rgb(244,222,171),rgb(255,252,252));
    width: 50%;
    height: 50%;
    padding: 25px;
    }
.section_css2{
    background-image: linear-gradient(275deg, rgba(33,58,213, 0.82) 0%,rgba(99,173,232, 0.72) 33%,rgba(126,250,215, 0.78) 100%);
    width: 50%;
    height: 50%;
    padding: 25px;
}
.imagen_principal 
    {
    display: flex;
    width: 600px;
    height: 600px; 
    border: solid  turquoise; 
    margin: 3px;
    margin-top: 5%;
    align-items: center;
    }
    .fa-thin fa-plane-engines{ color: beige;}

.Gale
    {
    width: 800px;
    height: 800px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20 px;
    margin-bottom: 20px;
    box-shadow:-1px 3px 7px 6px rgba(221,150,227,0.72) ;
    }
.boton
    {
    font-size: large;
    background-color:  rgb(50, 228, 210);
    display: flex;
    margin-left: auto;
    margin-right: auto;  
    height: 50%;
    width: 15%;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    border-radius: 40px;
    overflow: hidden;
    
    }
    .hoverr:hover
    {
    background-color: white;
    transition: 0.7s;
    cursor: pointer;
    } 
.flex-container{ 
    display: flex;
    justify-content: center;
    flex-direction: column; 
    padding: 10px;
    align-items: center;
    width: 100%;
}
.fo1
    {
    background-color: thistle;
    border-radius: 30px;
    padding-inline: 20px;
    color:rgb(97, 8, 97); 
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.video 
    {
    width: 450px;
    height: 450px;
    box-shadow:-1px 3px 7px 6px rgba(221,150,227,0.72);
    }
.ubicacion
    {
    width:450px; 
    height:450px;
    box-shadow:-1px 3px 7px 6px rgba(221,150,227,0.72);
    }
    .avion{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;  
        margin-bottom: 2rem;
        margin-top: 2rem;
        font-size: 20px;
        color:wheat;
     
    }
    @media screen and (max-width: 768px){
    .header{display: flex;
    flex-direction: column;
    }
    .A{margin: 5px;}
    .img_center{height: fit-content;}
    p{display: none;}
    h1{font-size: 100px;}
    .imagen_principal_b{margin-bottom: 30px;}
    .imagen_principal_a {display:none;}
    .container{
        display: flex;
        flex-flow: column nowrap;
     }
     .section_css1{
        width: auto;
    } .section_css2{
        width: auto;
    }
    .boton{
        display: flex;
        font-size: 20px;
        overflow: hidden;
        width: 50%;
        height: 40%;
        padding: 17px;
       
      }}
      @media screen and (max-width: 420px){
        h1{font-size: 50px;}     
            
            
            }}
        
     